/* Style the text fields */
.text_label{
    float: left;
    width: 100px;
    text-align: right;
    padding: 0px 10px 10px 0px;
}
.text_input{
    width: 150px;
    text-align: left;
    padding: 0px 0px 0px 0px;
    color: white;
}
div { padding: 10px 0px 10px 0px;
    width: 274px;
  }

input[type="Submit"]{
    width: 115px;
    padding: 3px 3px 3px 3px;
    margin-left: 45%;
    background-color: #3498db;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }